@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2em;
  background-color: #222;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

.contact-info span {
  margin-bottom: 0.4em;
}

.top-bar .social-links {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.5em;
}

.top-bar .social-links a {
  color: #eb4214e3;
  margin-left: 1em;
  text-decoration: none;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1em 0.5em;
}

.logo-title {
  display: flex;
  align-items: center;
}

.logo-title img {
  height: 50px;
  margin-right: 10px;
}

.logo-title h1 {
  margin: 0;
  font-size: 1.5em;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.menu-bar nav ul {
  list-style-position: inside;
  display: flex;
  gap: 1em;
}

.menu-bar nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-bar nav ul li a:hover {
  background-color: #555;
}

.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: display 8s allow-discrete;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  text-align: left;
}

.about-section {
  padding: 2em 5em;
  text-align: left;
}

.about-section h2 {
  margin-bottom: 1em;
  text-align: left;
}

.about-content {
  padding: 1em 2;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1em;
}

.about-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-right: 2em;
}

.about-text {
  max-width: 800px;
  text-align: justify;
}

.about-text p {
  margin-bottom: 1em;
  text-align: justify;
}

.projects-section {
    padding: 2em 5em;
    text-align: left;
}

.projects-section .project {
  width: auto;
  align-items: left;
  gap: 1em;
  margin-bottom: 2em;
}

.projects-section .project h3 {
  display: flex;
  flex-direction: column;
  gap: 6em;
  width: 100%;
  padding: 1em 2;
  text-align: left;
}

.projects-section .project-images {
  display: flex;
  flex-direction: column;
  gap: 6em;
  padding: 1em 0em;
  align-items: left;
}

.projects-section .project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 5em;
  padding: 1em 2;
}

.contact-section {
  padding: 2em 5em;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: left; /* Ensure the text within the form is left-aligned */
  align-items: flex-start; /* Align the items to the start (left) */
}

label {
  margin-top: 0.5em;
  color: #333;
  text-align: left; /* Ensure the labels are left-aligned */
}

input, textarea, button {
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%; /* Ensure the input fields take full width */
}


button {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 1em;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #444;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

@media (min-width: 768px) {
  .about-content, .projects-section .project {
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
  }

  .projects-section .project-images {
    flex-direction: row;
    justify-content: left;
  }
  .contact-section form {
    display: flex;
    flex-direction: column; /* Ensure form is left-aligned */
    justify-content: left;
  }
}
